# Steam Links

Steam links I use

[Console](steam://open/console)

### Friends Status

- [Online](steam://friends/status/online)
- [Busy](steam://friends/status/busy)
- [Away](steam://friends/status/away)
- [Invisible](steam://friends/status/invisible)
