@use 'sass:color';
@use 'sass:math';

@import "./platform.scss";

@mixin brandButton($key, $fg, $bg, $shadow: $bg) {
  &.button-#{$key} {
    color: $fg;
    background: $bg;
    will-change: filter;
    transition: filter 200ms;

    &:hover {
      $shadowFade: color.adjust($shadow, $alpha: math.div(-1, 3));
      @include platform(filter, drop-shadow(0 0 1em $shadowFade));
    }
  }
}

.link-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;

  .brand-button {
    $button-sizes: 32px;
    border-radius: 0.75rem;
    padding: 10px;

    @include platform(box-shadow, 0px 0px 10px 2px rgba(0, 0, 0, 0.5));
    cursor: pointer;

    display: grid;
    place-items: center;
    width: $button-sizes;
    height: $button-sizes;

    @include platform(background-repeat, no-repeat);
    @include platform(background-size, cover);

    background-color: #353535;

    @include brandButton(unset, #fff, #353535, $shadow: #469b4c);

    &.button-unset>img {
      width: 100%;
    }
  }
}
