:root {
  --primary-dark: #469b4c;
  --primary-main: #64dd6c;
  --primary-hover: #64dd6c;
  --primary-text: #121212;
  --primary-link: #44bd4c;

  --secondary-dark: #000000;
  --secondary-main: #60a8e5;
  --secondary-hover: #80b9ea;
  --secondary-link: #60a8e5;

  --bg: #ffffff;
  --bg-back: #ffffff;
  --bg-panel: #dedede;
  --bg-panel-action: #dedede;
}
