:root {
  --primary-dark: #28582b;
  --primary-main: #469b4c;
  --primary-hover: #64dd6c;
  --primary-text: #dddddd;
  --primary-link: #44bd4c;

  --secondary-dark: #000000;
  --secondary-main: #60a8e5;
  --secondary-hover: #80b9ea;
  --secondary-link: #60a8e5;

  --bg: #1c1b22;
  --bg-back: #141318;
  --bg-panel: #36393f;
  --bg-panel-action: #36393f;
}
