.markdown-body {
  --color-icon: #96a2b0;
  --color-text: var(--dark-color-text);
  --color-text-inactive: #929aa3;
  --color-text-dark: var(--dark-color-text-dark);
  --color-heading: #c4cfdd;
  --color-bg: #16181c;
  --color-raised-bg: #26292f;
  --color-divider: #474b54;
  --color-divider-dark: #646c75;

  --color-text-inverted: var(--color-bg);
  --color-bg-inverted: var(--color-text);

  --color-special-red: #ff496e;
  --color-special-orange: #ffa347;
  --color-special-green: var(--color-brand-green);
  --color-special-blue: #4F9CFF;
  --color-special-purple: #C78AFF;
  --color-special-gray: #9FA4B3;

  --color-brand-green: #1bd96a;
  --color-brand: var(--color-brand-green);
  --color-brand-highlight: rgba(27, 217, 106, 0.25);
  --color-brand-shadow: rgba(27, 217, 106, 0.7);
  --color-brand-inverted: #000;

  --tab-underline-hovered: #414146;

  --color-button-bg: hsl(222, 13%, 30%);
  --color-button-text: var(--color-text);
  --color-button-bg-hover: #494f58;
  --color-button-text-hover: #ffffff;
  --color-button-bg-active: #616570;
  --color-button-text-active: var(--color-button-text-hover);

  --color-toggle-handle: var(--color-button-text);

  --color-dropdown-bg: var(--color-button-bg);
  --color-dropdown-text: var(--color-button-text);

  --color-tooltip-bg: var(--color-button-bg);
  --color-tooltip-text: var(--color-text);

  --color-code-bg: var(--color-button-bg);
  --color-code-text: var(--color-text-dark);

  --color-kbd-shadow: rgba(0, 0, 0, 0.35);

  --color-ad: #1f324a;
  --color-ad-raised: #2e4057;

  --color-link: #74b6f3;
  --color-link-hover: #92c0f5;
  --color-link-active: #b5d5fd;

  --color-warning-bg: hsl(355, 70%, 20%);
  --color-warning-text: hsl(342, 70%, 75%);

  --color-banner-text: hsl(0, 100%, 96%);
  --color-banner-bg: hsl(356, 18%, 18%);
  --color-banner-side: hsl(357, 78%, 40%);

  --color-block-quote: var(--color-code-bg);
  --color-header-underline: var(--color-tooltip-text);
  --color-hr: var(--color-text);

  --color-table-border: #4f5864;
  --color-table-alternate-row: #262a30;

  --shadow-inset-lg: inset 0px -2px 2px hsla(221, 39%, 11%, 0.1);
  --shadow-inset: inset 0px -2px 2px hsla(221, 39%, 11%, 0.05);
  --shadow-inset-sm: inset 0px -1px 1px hsla(221, 39%, 11%, 0.25);

  --shadow-raised-lg: 0px 2px 4px hsla(221, 39%, 11%, 0.2);
  --shadow-raised: 0px -2px 4px hsla(221, 39%, 11%, 0.1);
  --shadow-floating: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px,
    hsla(0, 0%, 0%, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  --shadow-card: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  --size-rounded-sm: 0.75rem;

  h1 {
    line-height: normal;

    &:first-child {
      margin-top: 0;
    }
  }

  blockquote,
  code,
  details,
  dl,
  ol,
  p,
  pre,
  table,
  ul {
    margin-top: 0;
    margin-bottom: 16px;
  }

  li,
  p {
    padding: 0;
    line-height: 1.5;
  }

  h1,
  h2 {
    padding: 10px 0 5px;
    border-bottom: 1px solid var(--primary-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p {
    word-wrap: break-word;
    word-wrap: anywhere;
  }

  blockquote {
    padding: 0 1em;
    color: var(--color-text);
    border-left: 0.25em solid var(--color-block-quote);
  }

  a {
    color: var(--color-link);
  }

  a.focus-visible,
  a:focus-visible,
  a:hover {
    color: var(--color-link-hover);
  }

  a:active {
    color: var(--color-link-active);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  html:is(.dark-mode, .oled-mode, .midas-mode) .markdown-body img[src$="#gh-light-mode-only"],
  html:not(.dark-mode):not(.oled-mode):not(.midas-mode) .markdown-body img[src$="#gh-dark-mode-only"] {
    display: none;
  }

  pre {
    margin-top: 1rem;
    padding: 14px;
    border-radius: var(--size-rounded-sm);
    background-color: var(--color-code-bg);
    overflow-x: auto;
  }

  pre code {
    font-size: 80%;
    padding: 0;
    border-radius: 0;
  }

  code {
    padding: 0.2em 0.4em;
    font-size: 80%;
    border-radius: var(--size-rounded-sm);
    background-color: var(--color-code-bg);
    color: var(--color-code-text);
  }

  hr {
    margin: 20px 0;
    color: var(--color-divider);
  }

  table {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-collapse: separate;
    border-spacing: 0;
    line-height: 1.5;
    border: 0.05rem solid var(--color-table-border);
    border-radius: var(--size-rounded-sm);
  }

  table th {
    font-weight: 600;
  }

  table td,
  table th {
    padding: 0.4rem 0.85rem;
    border: 0.05rem solid var(--color-table-border);
  }

  table tr:nth-child(2n) {
    background-color: var(--color-table-alternate-row);
  }

  table th:first-of-type {
    border-top-left-radius: var(--size-rounded-sm);
  }

  table th:last-of-type {
    border-top-right-radius: var(--size-rounded-sm);
  }

  table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: var(--size-rounded-sm);
  }

  table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: var(--size-rounded-sm);
  }

  details {
    border: 0.15rem solid var(--color-button-bg);
    border-radius: var(--size-rounded-sm);
    padding: 0.5rem 0.5rem 0;
  }

  details summary {
    font-weight: 700;
    margin: -0.5rem -0.5rem 0;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    background-color: var(--color-button-bg);
    border-radius: var(--size-rounded-xs);
  }

  details summary:hover {
    background-color: var(--color-button-bg-hover);
  }

  details[open] {
    padding: 0.5rem;
  }

  details[open] summary {
    margin-bottom: 0.5rem;
    border-radius: var(--size-rounded-xs) var(--size-rounded-xs) 0 0;
  }

  > :last-child,
  details[open]> :last-child:not(summary) {
    margin-bottom: 0 !important;
  }

  @media screen and (max-width: 850px) {
    iframe {
      aspect-ratio: 16/9;
      width: 100%;
      height: auto;
    }
  }
}
